<h2 class="content-block">Z-Price Users</h2>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [dataSource]="getUser(employee)"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    keyExpr="login.uuid"
    [masterDetail]="{ enabled: true, template: 'detail' }">
    

    <dxo-paging [pageSize]="25"></dxo-paging>
    
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
    <!-- <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager> -->
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-sorting mode="single"></dxo-sorting>
    <dxi-column
        caption="Picture"
        [width]="290"
        [hidingPriority]="2"
        cellTemplate="cellTemplatePicture"
        [calculateCellValue]="getPicture"
        [allowFiltering]="false"
        [allowSorting]="false"></dxi-column>
    <dxi-column
        caption="Name"
        [width]="290"
        [hidingPriority]="2" 
        [calculateCellValue]="calculateName"
        [allowSearch]="true"
        [allowSorting]="true">
    </dxi-column>
    <dxi-column
        caption="Gender"
        [width]="290"
        [hidingPriority]="2"
        [calculateCellValue]="gender"
        [allowSorting]="true"
        [allowSearch]="true"
        [allowFiltering]="true">
    </dxi-column>
    <dxi-column
        caption="Phone"
        [width]="290"
        [hidingPriority]="2"
        [calculateCellValue]="phoneNumber"
        [allowFiltering]="true">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplatePicture'">
        <img [src]="data.value" alt="123"/>
    </div>
    <div *dxTemplate="let employee of 'detail'">
        <dx-data-grid 
            [dataSource]="getUser(employee)"
            [columnAutoWidth]="true"
            [showBorders]="true">
                <dxi-column caption="City" [calculateCellValue]="city" [allowFiltering]="true"></dxi-column>
                <dxi-column caption="Street" [calculateCellValue]="calculateAddress" [allowFiltering]="true"></dxi-column>
                <dxi-column caption="Email" [calculateCellValue]="emailAddress" [allowFiltering]="true"></dxi-column>
        </dx-data-grid>
    </div>
    
</dx-data-grid>
